nav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  padding: 20px 40px;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  div:nth-child(2) {
    margin-inline: auto;
  }

  .nav-pages {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-grow: 1;
  }

  .nav-pages a {
    text-decoration: none;
    color: black;
  }

  .nav-pages a:hover {
    text-decoration: underline;
  }
}

.descriptions {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px 96px 60px;
  box-sizing: border-box;
}

.descriptions h1 {
  white-space: nowrap;
  margin-bottom: 24px;
}

.descriptions p {
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
}

.sections {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;

  section {
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      padding-bottom: 30px;
    }

    iframe {
      padding: 50px;
    }
  }

  section iframe {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    padding: 0;
    margin: 20px 0;
  }
}
